/*
JOSEPH P. PASAOA
NameLogo Component CSS | Portfolio Site
*/


#name-marquee h1 {
    margin: 7vh 1vw 0.5vh 2vw;

    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.3px;

    color: #fff;
    text-shadow: 0px 2px 2px #111;
}

#name-marquee h2 {
    margin: 0.5vh 1vw 0.5vh 2vw;

    font-family: 'Marcellus SC', serif;
    font-weight: 500;
    font-size: 0.75em;
    letter-spacing: 0.3px;

    color: #000;
}

.ml5 {
    position: relative;
    font-weight: 300;
    font-size: 4.5em;
    color: #402d2d;
}

.ml5 .text-wrapper {
position: relative;
display: inline-block;
padding-top: 0.1em;
padding-right: 0.05em;
padding-bottom: 0.15em;
line-height: 1em;
}

.ml5 .line {
position: absolute;
left: 0;
top: 0;
bottom: 0;
margin: auto;
height: 3px;
width: 100%;
background-color: #402d2d;
transform-origin: 0.5 0;
}

.ml5 .anchor {
font-family: Baskerville, "EB Garamond", serif;
font-style: italic;
font-weight: 400;
width: 1em;
margin-right: -0.1em;
margin-left: -0.1em;
}

.ml5 .letters {
display: inline-block;
opacity: 0;
}



.animate {
    /* font-size: 50px; */
    /* margin: 100px 0 0; */
    /* border-bottom: 2px solid #ccc; */
}

.animate span {
    display: inline-block;
}

.animate span:nth-of-type(2) {
    animation-delay: .05s;
}
.animate span:nth-of-type(3) {
    animation-delay: .1s;
}
.animate span:nth-of-type(4) {
    animation-delay: .15s;
}
.animate span:nth-of-type(5) {
    animation-delay: .2s;
}
.animate span:nth-of-type(6) {
    animation-delay: .25s;
}
.animate span:nth-of-type(7) {
    animation-delay: .3s;
}
.animate span:nth-of-type(8) {
    animation-delay: .375s;
}
.animate span:nth-of-type(9) {
    animation-delay: .45s;
}
.animate span:nth-of-type(10) {
    animation-delay: .525s;
}
.animate span:nth-of-type(11) {
    animation-delay: .6s;
}
.animate span:nth-of-type(12) {
    animation-delay: .7s;
}
.animate span:nth-of-type(13) {
    animation-delay: .8s;
}
.animate span:nth-of-type(14) {
    animation-delay: .925s;
}
.animate span:nth-of-type(15) {
    animation-delay: .7s;
}
.animate span:nth-of-type(16) {
    animation-delay: .75s;
}
.animate span:nth-of-type(17) {
    animation-delay: .8s;
}
.animate span:nth-of-type(18) {
    animation-delay: .85s;
}
.animate span:nth-of-type(19) {
    animation-delay: .9s;
}
.animate span:nth-of-type(20) {
    animation-delay: .95s;
}


/* Animation One */

.one span {
    color: #24a8e6;
    opacity: 0;
    transform: translate(-150px, -50px) rotate(-180deg) scale(3);
    animation: revolveScale .4s forwards;
}

@keyframes revolveScale {
    60% {
        transform: translate(20px, 20px) rotate(30deg) scale(.3);
    }

    100% {
        transform: translate(0) rotate(0) scale(1);
        opacity: 1;
    }
}


/* Animation Two */

.two span {
    color: #a5cb21;
    opacity: 0;
    transform: translate(200px, -100px) scale(2);
    animation: ballDrop .3s forwards;
}

@keyframes ballDrop {
    60% {
        transform: translate(0, 20px) rotate(-180deg) scale(.5);
    }

    100% {
        transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}


/* Animation Three */


.three span {
    color: #fff;
    opacity: 0;
    transform: translate(-200px, 0) scale(3);
    animation: sideSlide 1.1s forwards;
}

@keyframes sideSlide {
    60% {
        transform: translate(20px, 0) scale(2);
        color: transparent;
    }

    80% {
        transform: translate(20px, 0) scale(1);
        color: #7c99af;
    }

    99% {
        transform: translate(0) scale(1.1);
        color: #ccdbe6;
    }

    100% {
        transform: translate(0) scale(1);
        opacity: 1;
        color: #fff;
    }
}


/* Animation Four */


.four span {
    color: #8d6a00;
    opacity: 0;
    transform: translate(0, -100px) rotate(360deg) scale(0);
    animation: revolveDrop .3s forwards;
}


@keyframes revolveDrop {
    30% {
        transform: translate(0, -50px) rotate(180deg) scale(1);
    }

    60% {
        transform: translate(0, 20px) scale(.8) rotate(0deg);
    }

    100% {
        transform: translate(0) scale(1) rotate(0deg);
        opacity: 1;
    }
}


/* Animation Five */


.five span {
    color: #dd3f0f;
    opacity: 0;
    transform: translate(0, -100px) rotate(360deg) scale(0);
    animation: dropVanish .5s forwards;
}


@keyframes dropVanish {
    30% {
        transform: translate(0, -50px) rotate(180deg) scale(1);
    }

    50% {
        transform: translate(0, 20px) scale(.8) rotate(0deg);
        opacity: 1;
    }

    80% {
        transform: translate(-100px, -100px) scale(1.5) rotate(-180deg);
        opacity: 0;
    }

    100% {
        transform: translate(0) scale(1) rotate(0deg);
        opacity: 1;
    }
}



/* Animation Six */


.six span {
    color: #ddb40f;
    opacity: 0;
    transform: rotate(-180deg) translate(150px, 0);
    animation: twister .5s forwards;
}


@keyframes twister {
    10% {
        opacity: 1;
    }
    100% {
        transform: rotate(0deg) translate(0);
        opacity: 1;
    }
}



/* Animation Seven */


.seven span {
    color: #fff;
    opacity: 0;
    transform: translate(-150px, 0) scale(.3);
    animation: leftRight 2.2s forwards;
}


@keyframes leftRight {
    40% {
        transform: translate(50px, 0) scale(.7);
        opacity: 1;
        color: transparent;
    }

    60% {
        color: #fff;
    }

    80% {
        transform: translate(0) scale(1.4);
        opacity: 0;
    }

    100% {
        transform: translate(0) scale(1);
        opacity: 1;
    }
}