/*
JOSEPH P. PASAOA
Sidebar CSS | Portfolio Site
*/


#sidebar {
    height: 100%;
    background-image: linear-gradient(to bottom, #4bc5ffb0, #0d2c5a), url(/static/media/contemp-comp.c92948e4.jpg);
    background-size: cover;
    background-position: 27% center;
}