/*
JOSEPH P. PASAOA
APP MAIN CSS | Portfolio Site
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .root, .App, #grid-base {
  height: 100%;
  width: 100%;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Cabin', sans-serif;
  font-size: 1.1em;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#grid-base {
  display: grid;
  grid-template-columns: 265px auto;
  grid-template-rows: 1fr;
}

header {
  grid-column: span 3;
}

a.faicon:link, a.faicon:visited {
  margin: 29px 11px 3px 0px;

  color: #111;
  transition: color .5s ease-in-out;
}

a.faicon__a--resume:link, a.faicon__a--resume:visited {
  margin-left: 47px;
}

a.faicon:hover, a.faicon:active {
  color: #fff;
}

.faicon__svg {
  font-size: 3.3rem;
}

.faicon__description {
  position: relative;
  transition: color .8s ease-in;
  height: 1.5rem;

  color: transparent;
  font-size: 1.5rem;
  font-style: italic;
  text-transform: lowercase;
  font-weight: bold;
}

.navlist {
  align-items: flex-end;
  padding: 42px 3vw 3px 2vw;
  width: 100%;
}

.navlist li {
  margin-bottom: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;

  color: #fff;
}

/* .navlist li:hover {
  box-shadow: 0px 2px 2px #000;
  opacity: 1;
} */

.stage {
  background-color: #fff;
  margin-right: 190px;
  margin-bottom: 90px;
  opacity: 0.7;
}