/*
JOSEPH P. PASAOA
APP MAIN CSS | Portfolio Site
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .root, .App, #grid-base {
  height: 100%;
  width: 100%;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  color: #cdcdcd;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#grid-base {
  display: grid;
  grid-template-columns: 265px auto;
  grid-template-rows: 1fr;
}

.text__card {
  width: 550px;
  margin-top: 0px;
  margin-right: 21px;
  padding-right: 52px;
  border-right: solid 6px #cd8a3ddb;
  border-radius: 21px;
}

.text__card--home {
  margin-top: 3px;
}

.text--copy {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  color: #fff;
  line-height: 2.2rem;
}

.text--copy__paragraph {
  margin-top: 16px;
}

.text--copy__paragraph:first-child {
  margin-top: 0px;
}

.text--highlight {
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
}

.network-icons {
  width: 100%;
  padding: 3px 1vw 3px 1.5vw;
}

.network-icons img {
  height: 24px;
}

a.faicon:link, a.faicon:visited {
  margin: 3px 11px 3px 0px;

  color: #ceb180;
  opacity: .7;
  transition: color .4s ease-out, opacity .2s ease-out;
}

a.faicon__a--resume:link, a.faicon__a--resume:visited {
  margin-left: auto;
}

a.faicon:hover, a.faicon:active {
  color: #fff;
  opacity: 1;
}

.faicon--iconbar {
  font-size: 3.3rem;
}

.faicon__description {
  position: relative;

  height: 2rem;
  width: 100%;
  margin-top: 36px;
  margin-bottom: 3px;
  padding-right: 5vw; /* artistic choice to nudge left */
  padding-left: 1.5vw;

  text-align: left;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  font-weight: bold;
}

.faicon__description p {
  position: absolute;

  /* text-shadow: 0px 2px 1px #000; */

  color: #00425c;

  opacity: 0;
  transition: opacity .2s ease-in;
}

.navlist {
  align-items: flex-start;
  padding: 42px 1vw 3px 1.5vw;
  width: 100%;
}

.navlist li {
  margin-bottom: 11px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

a.navlist__link:link, a.navlist__link:visited {
  text-transform: lowercase;
  text-shadow: 0px 2px 2px #000;
  font-weight: bold;
  text-decoration: none;

  color: #fff;

  transition: color .1s ease-in, text-shadow .2s ease-in;
}

a.navlist__link:hover, a.navlist__link:active {
  color: #1ea0d2;
  ;
}

a.navlist__link.active {
  color: #ffac10;
  text-shadow: 0px 1px 1px #000;
}

.stage {
  overflow-y: auto;
  background-image: linear-gradient(180deg, rgba(53, 27, 27, 0.89) 56%, #1d100adb 100%);
  /* background-image: linear-gradient(180deg, rgba(53, 27, 27, 0.58) 56%, #1d100ad1 100%); */
  /* background-image: linear-gradient(180deg, rgba(255,255,255,0.500437675070028) 56%, rgba(146,163,171,0.5032387955182073) 100%); */
}

/* PROJECTS STAGE */
.stage--projects {
  direction: rtl;
}

.stage--projects * {
  direction: ltr;
}

.stage--projects::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #190b0bbf;
}

.stage--projects::-webkit-scrollbar
{
    width: 11px;
    background-color: #f5f5f5;
}

.stage--projects::-webkit-scrollbar-thumb
{
  background-image: linear-gradient(45deg, #150101eb, #3c13138c);
  border: 2px solid #555555;
  border-radius: 5px;
}
/* END */

.page {
  position: relative;
  padding: 113px 43px 43px 3px;
}

.page__textbock {
  padding: 3px 42px 3px 74px;
  width: auto;
}

.page--projects {
  padding: 0px;
}

h4.greet {
  position: absolute;
  width: fit-content;

  font-size: 3rem;
  font-weight: normal;
  font-family: 'Indie Flower', cursive;

  color: #1ea0d2;

  transform: translateY(-19px) translateX(-24px) rotate(-14deg);
}

h3.page__name {
  position: relative;
  z-index: 10;
  max-width: 63vw;

  font-size: 6rem;
  font-weight: normal;
  font-family: 'Indie Flower', cursive;

  color: rgb(226, 200, 156);
}

.page--projects h3.page__name {
  display: none;
  width: 100%;
  height: 80px;
  text-align: center;
  background-image: linear-gradient(to bottom, #e69129b3, #5a070785);
}

.project__card {
  position: relative;
  width: 100%;
  height: 300px;
  padding-top: 11px;
  cursor: pointer;
  color: #eee;

  border: solid 1px transparent;
  border-bottom: solid 2px #00000075;

  background-image: linear-gradient(to bottom, #07819421, #03293169);

  transition: border .05s ease-out;
}

/* .project__card:hover {
  /* background-image: linear-gradient(to bottom, #00ddff3b, #28bcd85e);
  background-image: linear-gradient(to bottom, #0b97ad47, #00414e96);
} */

.project__card__leftcol {
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.project__card__rightcol {
  padding: 0px 1vw 3px 1.7vw;
}

.project__name {
  padding: 6px 1vw 6px 2.5vw;

  font-family: 'Raleway', sans-serif;
  font-size: 2.2rem;
}

.project__screencap {
  border-radius: 11px;
  border: solid 1px #fff;
  box-shadow: 0px 6px 11px #000;
  object-fit: cover;
}

.page--projects .project__screencap {
  width: 255px;
  height: 162px;
  margin: 3px 3px 3px 2vw;
}

.project__card .project__card__expandmsg {
  margin: 1.5vh 1vw 3px 3px;

  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #6fd2ff;
  text-shadow: 0px 0px 13px #f0fdff;

  opacity: 0;
  transition: opacity .3s ease-out;
}

.project__card:hover .project__card__expandmsg {
  opacity: 1;
}

.project__card:active .project__card__expandmsg {
  color: #fff;
}

h4.project__subheadline {
  font-family: 'Raleway';
  font-size: 1.3rem;
  text-transform: lowercase;
  color: #9a580fbf;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 3px;
  float: left;
}

h4.project__subheadline:first-child {
  margin-top: 2px;
}

.project__description {
  margin-top: 22px;
  padding: 0px;

  font-size: 1.6rem;
  line-height: 1.8rem;

  color: #777;
}

.project__card:hover .project__description {
  color: #aaa;
}

.text--projectinfo {
  display: block;
  padding-left: 0px; 
  font-family: 'Indie Flower';
  font-size: 1.7rem;
}

/* PROJECT SPOT PAGE */

.page--projectspot {
  display: grid;
  grid-template-rows: 44px 1fr;
  grid-template-columns: 400px 1fr;

  height: 100%;
  padding: 3px;
}

.page--projectspot {
  background-image: linear-gradient(to bottom, #0b97ad47, #00414e54);
}

.projectspot__backbtn:link, .projectspot__backbtn:visited {
  display: block;
  grid-column: span 2;

  width: auto;
  height: auto;
  border-radius: 9px;
  margin: 1px 5px 5px 5px;
  padding-top: 1px;

  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: bold;
  color: #6fd1ffce;
  background-image: linear-gradient(to Bottom, #00000024, #0000005e);

  transition: color .3s ease-out;
}

.faicon--projectnav {
  font-size: 1.3rem;
}

.projectspot__backbtn .faicon--projectnav {
  opacity: .3;
  transition: opacity .3s ease-out;
}

.projectspot__backbtn:hover {
  color: #66dbff;
  text-shadow: 0px 0px 13px #f0fdff;
  /* background-image: linear-gradient(to Bottom, #804c0024, #8a6a4a5e); */
}

.projectspot__backbtn:hover .faicon--projectnav {
  opacity: 1;
}

.project__reactivebox:hover {
  background-image: linear-gradient(to bottom, #0b97ad47, #00414e96);
}

.projectspot__backbtn:hover .faicon--projectnav, .project__reactivebox:hover .faicon--projectnav {
  filter:drop-shadow(0px 0px 4px #fff); /* working method to add shadow to fontawesome icons */
}

.project__card:active {
  border: solid 1px #fff;
  border-radius: 3px;
}

.projectspot__backbtn:active {
  color: #fff;
  border: solid 1px #ddd;
}

.page--projectspot .project__screencap {
  width: 330px;
  height: 220px;
  margin: 3px 3px 3px 4.5vw;
}