/*
JOSEPH P. PASAOA
APP MAIN CSS | Portfolio Site
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .root, .App, #grid-base {
  height: 100%;
  width: 100%;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  color: #cdcdcd;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#grid-base {
  display: grid;
  grid-template-columns: 265px auto;
  grid-template-rows: 1fr;
}

.text--copy {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6em;
  color: #fff;
}

.text--highlight {
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
}

a.faicon:link, a.faicon:visited {
  margin: 29px 11px 3px 0px;

  color: #111;
  transition: color .5s ease-in-out;
}

a.faicon__a--resume:link, a.faicon__a--resume:visited {
  margin-left: 47px;
}

a.faicon:hover, a.faicon:active {
  color: #fff;
}

.faicon__svg {
  font-size: 3.3rem;
}

.faicon__description {
  position: relative;
  transition: color .8s ease-in;
  height: 1.5rem;

  color: transparent;
  font-size: 1.5rem;
  font-style: italic;
  text-transform: lowercase;
  font-weight: bold;
}

.navlist {
  align-items: flex-start;
  padding: 42px 3vw 3px 2vw;
  width: 100%;
}

.navlist li {
  margin-bottom: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

a.navlist__link:link, a.navlist__link:visited {
  font-weight: bold;
  text-decoration: none;

  color: #fff;
}

a.navlist__link:hover, a.navlist__link:active {
  color: rgb(1, 255, 234);
}

.stage {
  background-image: linear-gradient(180deg, rgba(53, 27, 27, 0.58) 56%, #1d100ad1 100%);
  /* background-image: linear-gradient(180deg, rgba(255,255,255,0.500437675070028) 56%, rgba(146,163,171,0.5032387955182073) 100%); */
}

.page {
  padding: 143px 43px 43px 22px;
}

h3.page__name {
  position: relative;
  z-index: 10;

  color: rgb(226, 200, 156);
  font-size: 4rem;
  font-weight: normal;
  font-family: 'Indie Flower', cursive;
}