/*
JOSEPH P. PASAOA
APP MAIN SCSS | Portfolio Site
*/


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;

    --ff-body: 'Raleway', sans-serif;
    --ff-hand: 'Cabin Sketch', cursive;

    --fs-body: 1.7rem;
    --fs-h1: 2.65rem;   /* myname in sidebar */
    --fs-h2: 1.3rem;    /* my title in sidebar */
    --fs-h3: 3rem;      /* page headers */
    --fs-h4: 2rem;      /* project skill headers, project roles */
    --fs-h5: 1.5rem;    /* project subheaders */

    --fw-bold: 800;

    --lineheight-body: 2.2rem;

    --color-white: #fcfcfc;     // alabaster
    --color-blue: #1ea0d2;      // curious blue
    --color-primary: #ffac10;   // sun
    --color-copper: #64332e;    // buccaneer
    --color-midnight: #0e1b3d;  // blue zodiac

    --pad-min: 3px;
    --pad-windowleft: 1.5vw;
    --pad-pageleft: 5.2rem;

    --space-xs: .5rem;
    --space-sml: 1.5rem;
    --space-med: 2.5rem;

    --b-rad: 5px;
}

body {
    background-color: #171111; /* to cover viewport completely when screen is dragged  */

    font-family: var(--ff-body);
    font-size: var(--fs-body);

    color: var(--color-white);
}

html, body, .root, .App, #grid-base {
    height: 100%;
    width: 100%;
}

.text {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    color: var(--color-white);
    line-height: var(--lineheight-body);
    white-space: pre-line;

    &.para {
        margin-bottom: 16px;
    }
}


// VARIABLES
$name-transition: opacity .9s ease-out;

// $color-shade-l: #fcfcfc;  // alabaster
// $color-accent-l: #1ea0d2; // curious blue
// $color-primary: #ffac10;  // sun
// $color-accent-d: #64332e; // buccaneer
// $color-shade-d: #0e1b3d;  // blue zodiac

// $default-pad: 3px;
// $pageleft-pad: 1.5vw;
// $pageside-pad: 3.7rem;


@mixin flex-line($direction, $col-justify: flex-start, $col-align: flex-start) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: nowrap;
    justify-content: $col-justify;
    align-items: $col-align;
}

@mixin flex-center($col-justify: flex-start, $col-align: center) {
    display: flex;
    flex-direction: column;
    justify-content: $col-justify;
    align-items: $col-align;
}

@mixin nav-faicon-in-base() {
    transform-origin: left bottom;
    animation: nav-faicon-in .2s ease-out 0s 1 forwards;
}

@keyframes nav-faicon-out {
    from { transform: translate(0, 0) scale(1); }
    to { transform: translate(.5rem, .3rem) scale(1.4); }
}
@keyframes nav-faicon-in {
    from { transform: translate(.5rem, .3rem) scale(1.4); }
    to { transform: translate(0, 0) scale(1); }
}


.myButton {
    @include flex-center(center, center);
    width: 10rem;
    height: 2.6rem;
    padding: 1px 11px 1px 11px;
    background: linear-gradient(to bottom, #2d2d2de3 5%, #0a0607ed 100%);
    border: 2px solid var(--color-white);
    box-shadow: 0px 7px 6px -6px #000000;
    border-radius: var(--b-rad);
    cursor: pointer;

    color: var(--color-white);
    font-family: Trebuchet MS;
    font-size: 1.3rem;
    font-weight: var(--fw-bold);
    text-decoration: none;
    text-shadow: 0px 1px 0px #333333;

    transition: border .3s ease-out;
}
.myButton:hover {
    background: linear-gradient(to bottom, #0e1b3de3 5%, #0a060757 100%);
    border-color: #94fbe8;
}
.myButton:active {
    position: relative;
    top: 1px;
}


// HEADERS
h1 {
    font-family: var(--ff-body);
    font-size: var(--fs-h1);
    text-transform: uppercase;

    color: #fff;
    text-shadow: 0px 2px 2px #111;

    &.namebox__name {
        position: absolute;
        margin-bottom: 0.5rem;

        white-space: nowrap;

        transition: $name-transition;

        &.namebox__name--brand {
            top: -.5rem;
            left: -.15rem;

            font-size: 3.5rem;
        }
    }
}

h2 {
    font-family: var(--ff-body);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    text-transform: lowercase;

    color: #000;

    &.namebox__subname {
        position: absolute;
        top: 5.3rem;

        white-space: nowrap;

        transition: $name-transition;

        &.colored {
            color: var(--color-primary);
        }
    }
}

h3 {
    font-family: var(--ff-body);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    text-transform: lowercase;
    color: var(--color-blue);
    text-shadow: 14px 4px 8px #000;

    &.page__header {
        position: relative;
        left: -2rem;

        margin-bottom: 7rem;
        // position: fixed;
        // top: 52.6rem;
        // left: 101rem;
    }
}

h4 {
    font-family: var(--ff-body);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    text-transform: lowercase;
    color: var(--color-white);
    text-shadow: 11px 4px 2px #000;

    &.header-section {
        color: var(--color-primary);
    }
        
    &.card--project__role {
        // margin-top: 1.5rem;
        // margin-bottom: .5rem;
        color: var(--color-blue);
    }
}

h5 {
    font-family: var(--ff-body);
    font-size: var(--fs-h5);
    font-weight: var(--fw-bold);
    text-transform: lowercase;
    color: var(--color-white);
    text-shadow: 11px 4px 2px #000;
}


// BASE & SIDEBAR
.App {
    background-image: url(./assets/images/bgs/contemp-comp-jedit.jpg);
    background-image: linear-gradient(180deg, #361b1b9e 28%, #1d100ac2 100%), url(/static/media/contemp-comp-jedit.ec3a22fa.jpg);
    background-size: cover;
    background-color: #fff;
    background-position: left center;
}

.app__fadebg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #080808a6, #0f1213aa);
    transition: opacity .8s ease-out 1s;
}

#grid-base {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 1fr;
}


.sidebar {
    @include flex-line(column);
    position: relative;
    height: 100%;
    min-width: 16.5rem;
    // min-width: 14.9rem;
    z-index: 1000;
    transition: transform .6s ease-out;

    .sidebar__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        // border-right: solid 1px #8e6666;
        background-image: linear-gradient(to bottom, #e69129b3, #5a070785);
        /* background-image: linear-gradient(to bottom, #4bc5ffb0, #011d46); */
        /* background-image: linear-gradient(to bottom, #b99556b0, #271a0287); */
        /* background-image: linear-gradient(to bottom, #4bc5ffb0, #011d46); */
        /* background-image: linear-gradient(to bottom, #A38383b0, #5C3828); */
        /* background-image: linear-gradient(to bottom, #4bc5ffb0, #0d2c5a); */
        clip-path: polygon(0px 0px, 14.7rem 0px, 16.5rem 10.4rem, 13.7rem 100%, 0px 100%);
    }
}

.namebox {
    position: absolute;
    top: 5.5rem;

    margin: var(--pad-min) var(--pad-windowleft);
}

.iconsbar {
    @include flex-line(column);

    width: 100%;
    margin-top: 17rem;
    padding: var(--pad-min) var(--pad-windowleft);

    .link-faicon {
        &:link, &:visited {
            position: relative;
            margin: var(--pad-min) 0 8px 0;
        
            font-size: 2.8rem;
            color: #fff;
            opacity: .7;

            svg {
                @include nav-faicon-in-base();
            }

            &::after {
                content: attr(data-name);
                position: absolute;
                top: 0.5rem;
                left: 4.7rem;
                white-space: nowrap;
                font-size: 1.3rem;
                font-weight: var(--fw-bold);
                filter: drop-shadow(0px 0px 2px #fff);
                opacity: 0;

                transition: opacity .1s ease-in;
            }

        }
        &.link-faicon--resume:link, &.link-faicon--resume:visited {
            margin-left: 2px; // for centering resume icon if list is left-justified
            margin-top: 4px;

            font-size: 2.6rem;
        }
        &:hover, &:active {
            opacity: 1;

            & svg {
                animation: nav-faicon-out .2s ease-out 0s 1 forwards;
            }

            &::after {
                opacity: 1;
            }
        }
    }
}

.navlist {
    @include flex-line(column);

    padding: 15rem var(--pad-windowleft) 8rem calc(var(--pad-windowleft) - .2vw);
    width: 100%;

    li {
        margin-bottom: 11px;

        &:last-child::before {
            content: "⤙⤚";
            position: relative;
            top: -.6rem;
            color: var(--color-white);
            font-size: 2rem;
        }

        .link-navlist {
            &:link, &:visited {
                font-family: var(--ff-body);
                font-size: 1.5rem;
                letter-spacing: 1px;
                font-weight: var(--fw-bold);
                text-decoration: none;
                text-transform: lowercase;

                color: #fff;
                text-shadow: 0px 2px 2px #000;

                .faicon--iconbar {
                    position: relative;
                    left: 2px;
                    opacity: 0;
                    color: var(--color-primary);

                    transition: opacity .5s ease-out;
                }

                div {
                    position: relative;
                    transition: color .1s ease-in, text-shadow .2s ease-in;

                    &::after {
                        content: "✧";
                        position: absolute;
                        top: .1rem;
                        right: -1.7rem;
                        width: min-content;
                        height: 100%;
                        color: var(--color-white);
                        opacity: 0;

                        transition: opacity .5s ease-out;
                    }
                }
            }
            &:hover, &:active {
                color: var(--color-blue);

                div::after {
                    opacity: 1;
                }

                .faicon--iconbar {
                    opacity: 1;
                }
            }
            &.active {
                color: var(--color-primary);
                text-shadow: 0px 1px 1px #000;
                cursor: default;

                div::after {
                    content: "✦";
                    color: var(--color-primary);
                    opacity: 1;
                }

                .faicon--iconbar {
                    opacity: 1;
                }
            }
        }

        &:last-child .link-navlist div::after {
            display: none;
        }
    }
}


// STAGES
.stage { // static viewport containter
    position: relative;
    overflow-y: auto;
    // background-image: linear-gradient(180deg, rgba(53, 27, 27, 0.89) 28%, #1d100adb 100%);
}

.page { // scrolling canvas
    @include flex-line(column);

    position: relative;
    min-height: 100vh;
    padding: 11rem 11rem 6rem var(--pad-pageleft);

    &.page--home {
        padding-top: 15.6rem;
    }
}

.page--home {
    .home__topline, .home__mynameis {
        @include flex-line(row);
    }

    .home__greet {
        margin-right: 19px;
    
        font-family: var(--ff-body);
        font-size: var(--fs-h4);
        font-weight: var(--fw-bold);
        text-transform: lowercase;
        color: var(--color-white);
        text-shadow: 11px 4px 2px #000;
    }

    .home__mynameis div {
        margin-left: 6px;
        position: relative;
        top: -9px;

        font-family: var(--ff-body);
        font-size: 3.6rem;
        font-weight: var(--fw-bold);
        text-transform: lowercase;
        color: var(--color-blue);
        text-shadow: 14px 4px 8px #000;
    }

    .home__myname {
        margin-bottom: 11px;

        font-family: var(--ff-hand);
        // font-family: 'Indie Flower', sans-serif;
        font-size: 7.7rem;
        color: var(--color-white);
        text-shadow: 2px 2px 15px #000;
    }

    .textcopy strong {
        font-weight: var(--fw-bold);
        text-shadow: 2px 3px 1px #000;
        color: var(--color-primary);
    }

    .valediction {
        // font-family: 'Indie Flower', sans-serif;
        font-size: 2.2rem;

    }
}

.page--listprojects {
    .card--project {
        @include flex-line(column);

        position: relative;
        width: 100%;
        max-width: 93rem;
        margin-bottom: 5.5rem;

        .cp__toprow {
            @include flex-line(row, flex-start, baseline);

            h3.card--project__title {
                margin-right: var(--space-med);

                color: var(--color-primary);
            }

            .project-role {
                font-weight: var(--fw-bold);
                text-transform: lowercase;
            }
        }

        .cp__middlerow, .cp__bottomrow {
            display: grid;
            grid-template-columns: 1fr 2fr;
            width: 100%;
            margin-top: var(--space-sml);
        }

        .cp__middlerow {
            .card--project__images {
                @include flex-line(row);
    
                .screencap {
                    width: 100%;
                    min-width: 20rem;
                    max-width: 30rem;
                    height: auto;
                    object-fit: cover;
                    // margin: 3px 3px 3px 2vw;
                    border-radius: var(--b-rad);
                    border: solid 1px #fff;
                    box-shadow: 0px 6px 11px #000;
            
                    &[alt="SuitApp screencap"],
                    &[alt="Middleware Demo screencap"] {
                        object-position: left top;
                    }
                }
            }

            .cp__midbox {
                @include flex-line(column, space-around, flex-start);

                margin-left: var(--space-med);

                .card--project__description {
                    color: #ccc;
                }
    
                .card--project__btns {
                    @include flex-line(row, flex-start, center);
        
                    width: 100%;
                    margin-top: var(--space-sml);
        
                    .myButton:last-child {
                        margin-left: var(--space-med);
                    }
                }
            }
        }

        .cp__bottomrow {
            h5.card--project__subheader {
                margin-top: var(--space-sml);
                margin-bottom: var(--space-xs);

                color: var(--color-primary);

                &:first-child {
                    margin-top: 0;
                }
            }

            .card--project__techlist {
                @include flex-line(column, flex-start, flex-end);

                padding-top: 2px;

                text-align: right;
                list-style: none;
                font-family: var(--ff-hand);
                font-size: var(--fs-h4);
            }

            .cp__bottomrow__flex {
                @include flex-line(column);

                margin-left: var(--space-med);

                .project--features li::before {
                    content: "➢";
                    position: relative;
                    top: 2px;
                    margin-right: .8rem;
                    color: #777;
                }
            }
        }

        // .intro__card--project {
        //     @include flex-line(column);

        //     padding-right: 2.5rem;

        //     .project--subheader {
        //         font-size: 1.7rem;
        //         color: var(--color-blue);
        //     }
        // }

        .aws-sld {
            &--exit {
                &.aws-sld--moveRight, &.aws-sld--moveLeft {
                    animation: scaleOut var(--slider-transition-duration) both
                    var(--transition-bezier);
                }
            }
        }
          
        @keyframes scaleOut {
            to {
                transform: scale(0.85);
            }
        }

        .aws-btn {
            --slider-height-percentage: 56%;
            --slider-transition-duration: 1000ms;
            --organic-arrow-thickness: 8px;
            --organic-arrow-border-radius: 0px;
            --organic-arrow-height: 22px;
            --organic-arrow-color: var(--color-blue);
            --control-button-width: 5%;
            --control-button-height: 25%;
            --control-button-background: transparent;
            --control-bullet-color: #805608;
            --control-bullet-active-color: #92630a;
            --loader-bar-color: var(--color-blue);
            --loader-bar-height: 1px;
        }

        // .bottom__card--project {
        //     display: grid;
        //     grid-template-rows: 1fr;
        //     grid-template-columns: 23rem auto;

        //     padding-top: 2rem;
        //     padding-left: 1.5rem;
        //     width: 100%;
        // }



        // .details__card--project {
        //     @include flex-line(column);

        //     padding: 0 2.5rem 0 3.5rem;
        // }
    }
}

.page--skills .section {
    @include flex-line(row);
    flex-wrap: wrap;

    position: relative;
    border: solid 15px #222d4a94;
    border-radius: 4rem;
    padding: 2.8rem 3rem .6rem 7rem;
    margin-bottom: 4rem;
    width: 76.5rem;
    // background-image: linear-gradient(180deg, #0d175af5, #275c8ae3);

    li {
        position: relative;
        width: 12rem;
        margin-bottom: 3rem;
        @include flex-center(center, center);

        .icon-skill {
            height: 5.4rem;
            max-width: 5.4rem;
            filter: drop-shadow(2px 2px 3px #000);

            &.react {
                object-fit: cover;
            }
            &.github {
                background-color: var(--color-white);
                border-radius: 50%;
            }
            &.drawio {
                border-radius: 1rem;
            }
        }

        &:first-child { // styles section headers
            position: absolute;
            top: -13px;
            left: -4px;
            white-space: nowrap;
            align-items: flex-start;
        }

        &::after {
            content: attr(data-skill);

            position: absolute;
            bottom: -1.6rem;
            left: 50%;
            white-space: nowrap;
            transform: translateX(-50%);

            font-size: 1.2rem;
        }
    }

    &:last-child {
        margin-bottom: var(--pad-min);
    }
}

.page--contactme {
    @include flex-line(column);

    .form-container {
        position: relative;
        width: 100%;

        .submitted-msg {
            @include flex-center(center, center);

            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
            top: 7rem;
            left: 3rem;

            font-size: 4rem;
            font-family: 'Indie Flower', cursive;
            color: var(--color-primary);
        }
    }

    .form-contactme {
        @include flex-line(column);

        width: 100%;
        transition: opacity .4s ease-out;

        label {
            margin-left: .7rem;
            margin-bottom: 1.8rem;
            color: var(--color-primary);
            font-size: 1.4rem;
            font-weight: var(--fw-bold);
            text-transform: lowercase;
        }

        input[type=text], input[type=email] {
            all: unset;
            border-bottom: solid 2px #777;
            padding: .1rem 2.2rem .2rem 2.2rem;
            font-size: 1.9rem;
        }

        input[name=nameTxt], input[name=emailTxt] {
            width: 29rem;
        }

        input[name=msgTxt] {
            width: 63rem;
            margin-top: 4rem;
        }
    }
}
